div.profile{
    padding:5px;
}

.profile p {
    overflow: hidden;
    font-size:14px;
}

.profile .label {
    vertical-align: top;
    float: left;
    width: 40%;
    font-weight:bold;
}

.profile .value{
    vertical-align: top;
    float: left;
    width: 60%;
}