source "http://rubygems.org"

gemspec

#For Compass AE developemnt
#gem 'erp_base_erp_svcs', :path => '../erp_base_erp_svcs'
#gem 'erp_tech_svcs', :path => '../erp_tech_svcs'
#gem 'erp_app', :path => '../erp_app'
#gem 'erp_forms', :path => '../erp_forms'
#gem 'knitkit', :path => '../knitkit'
#gem 'erp_inventory', :path => '../erp_inventory'
#gem 'erp_txns_and_accts', :path => '../erp_txns_and_accts'
#gem 'erp_agreements', :path => '../erp_agreements'
#gem 'erp_orders', :path => '../erp_orders'
#gem 'erp_products', :path => '../erp_products'
#gem 'erp_commerce', :path => '../erp_commerce'
#gem 'erp_work_effort', :path => '../erp_work_effort'

#group :development, :test do
#  gem 'erp_dev_svcs', :path => '../erp_dev_svcs'
#end