.login-logo{
    background-image: url("/images/art/compass-ae-logo-reverse-1.png");
    background-size: 300px 150px;
    background-position:center;
    background-repeat:no-repeat;
}

.applications-background{
    background-image: url("/images/wallpaper/truenorth_tech.png");
    background-position:center;
}

#applications .thumb {
    height:64px;
    width:75px;
}

#applications .thumb-wrap {
    float: left;
    margin: 5px;
    cursor: pointer;
    width: 80px;
    text-align: center;
}

#applications .title {
    font-size: 14px;
    font-weight:bold;
    width:75px;
    color: white;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.icon-user{
    background-image: url(/images/icons/user/user_48x48.png);
    background-repeat:no-repeat;
    background-position:center center;
}

.icon-tasks{
    background-image: url(/images/icons/calendar/calendar_48x48.png);
    background-repeat:no-repeat;
    background-position:center center;
}